<div class="container">
    <div class="well card">
        <h2>The universe is the totality of everything that exists, has existed, or will exist.</h2>
        <h3>This Q&A site is dedicated to questions about the history of the universe.</h3>
    </div>
    <div class="container">
        <% @questions.each do |q| %>
            <div class="media">
                <img src="<%= q.gravatar %>" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0"><%= q.email %> asked:</h5>
                    <div>
                        <%= time_ago_in_words q.created_at %> ago
                    </div>
                    <%= q.body %>
                    <div>
                        <a href="<%= question_path(q) %>" class="btn btn-success btn-xs">View Answers</a>
                    </div>
                </div>
            </div>
        <% end %>

        <% if @questions.empty? %>
            <div class="alert alert-info">
                Nothing here yet, be the first to ask?
            </div>
        <% end %>
    </div>
</div>
